# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
**/*-backups/*

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# CAD folder
cad/*

dilemma/fabrication-output
dilemma/jlcpcb
jlcpcb
jlcpcb/*
fabrication-output
fabrication-output/*
*.AI
4x6/gerber
4x6/gerber/*